In [8]:
import sqlitecloud
import pandas as pd

In [ ]:
connection = 'sqlitecloud://cefglmy2hz.g5.sqlite.cloud:8860/golf_rounds?apikey=E5VDi6a23EedLpB9bxbrNwAZrDccL5oFadSk74eAnUo'
strokes_gained_data = ''

In [20]:
strokes_expected_sql = """
SELECT * FROM STROKES_GAINED_EXPECTED
"""

excel_file = pd.read_excel(r'C:\Users\jaker\OneDrive\Data_Files\golf-stat-tracker\data\sg_baseline.xlsx')
excel_file

     Dist  Fairway  Rough  Sand  Recovery  Green    Tee
0       0     0.00   0.00  0.00      0.00  0.000  0.000
1       1      NaN    NaN   NaN       NaN  1.010    NaN
2       2      NaN    NaN   NaN       NaN  1.025    NaN
3       3      NaN    NaN   NaN       NaN  1.040    NaN
4       4     2.42   2.50  2.50       NaN  1.130    NaN
..    ...      ...    ...   ...       ...    ...    ...
646   646     3.70   3.74  3.81      5.58    NaN  5.130
647   647     3.70   3.74  3.81      5.58    NaN  5.135
648   648     3.70   3.74  3.81      5.58    NaN  5.140
649   649     3.70   3.74  3.81      5.58    NaN  5.145
650   650     3.70   3.74  3.81      5.58    NaN  5.150

[651 rows x 7 columns]

In [12]:
def read_sql(sql, connection):
    with sqlitecloud.connect(connection) as conn:
        data = pd.read_sql(sql, conn)
    return data

In [13]:
strokes_gained_expected = read_sql(strokes_expected_sql, connection)
strokes_gained_expected

C:\Users\jaker\AppData\Local\Temp\ipykernel_18896\2227474807.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(sql, conn)

   DIST  FAIRWAY  ROUGH  SAND  RECOVERY  GREEN  TEE
0     0      0.0    0.0   0.0       0.0    0.0  0.0